body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
}
#u0_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u2 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:65px;
  top:239px;
  width:230px;
  height:131px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:131px;
}
#u4 {
  position:absolute;
  left:2px;
  top:58px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:94px;
  top:298px;
  width:172px;
  height:49px;
  font-family:'Source Sans Pro Bold', 'Source Sans Pro';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:49px;
}
#u5_img.mouseDown {
}
#u5.mouseDown {
}
#u6 {
  position:absolute;
  left:2px;
  top:6px;
  width:168px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:94px;
  top:370px;
  width:172px;
  height:49px;
  font-family:'Source Sans Pro Bold', 'Source Sans Pro';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:49px;
}
#u7_img.mouseDown {
}
#u7.mouseDown {
}
#u8 {
  position:absolute;
  left:2px;
  top:6px;
  width:168px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:94px;
  top:440px;
  width:172px;
  height:49px;
  font-family:'Source Sans Pro Bold', 'Source Sans Pro';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:49px;
}
#u9_img.mouseDown {
}
#u9.mouseDown {
}
#u10 {
  position:absolute;
  left:2px;
  top:6px;
  width:168px;
  word-wrap:break-word;
}
#u0_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u0_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u12 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u13_img.mouseDown {
}
#u13.mouseDown {
}
#u14 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:17px;
  top:15px;
  width:19px;
  height:30px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
